{% extends 'base.html.twig' %}

{% block title %}House Hotel
{% endblock %}

{% block body %}
    <img src="{{asset('media/reception.jpg')}}" style=" width:100%">
	<h1 class="text-center">Nos Chambres et Suites de reves</h1>

	<div class="row">
		{% for item in chambre %}
			<div class="col-md-4">
				<div class="card mb-3" style="width: 18rem;">
					<h3 class="card-header">{{ item.titre }}</h3>
					<img src="{{ item.photo }}" alt="Image de la chambre">
					<div class="card-body">
						<p class="card-text">{{ item.descriptionCourte}}</p>
						<p class="card-text">{{ item.descriptionLongue}}</p>
						<p class="card-text text-end fw-bold">{{ item.prixJournalier }}€/j</p>
					</div>
					<div class="card-body text-end">
						{# <a href="{{ path('commande_chambre', {id: item.id}) }}" class="card-link btn btn-primary">Réserver</a> #}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
